*.log

# Output gerber files
hardware/gerber

# Atmel START backups
code/GateAlarm/.atmel-start-backup

# Build artifacts
code/.vs
code/GateAlarm/Debug
code/GateAlarm/Release

# Hardware backup files
hardware/*-bak

# ESP8266 output
esp8266_code/**/.output
